/*BUTTONS*/

.btn{
  display: inline-block;
  font-size: 1.1em;
  min-width: 48px;
  padding: 12px 40px;
  border: 1px solid $font-color;
  text-decoration: none;
  color: $font-color;
  text-align:center;
  transition:color .4s, background .6s;
  
  &:hover,
  &:focus{
    background: $font-color;
    color: #fff;
  }
}
