//Content

.content-centered{text-align:center;}

.content-background{background:$light-grey;}

.content-background-gold{
  background:$gold;
  color:#fff;
}

.content-background-dark{
  background:$dark;
  color:#fff;
}

.content-label{
  font-size:1em;
  font-weight:700;
  color:$gold;
  text-transform:uppercase;
  margin-bottom:15px;
  line-height:1;
  display:block;
}

.content-label-grey{
  color:$title-light-grey;
}

.content-title{
  font-size:3em;
  margin-bottom:42px;
  line-height:1;
  
  a{
    color:$title-color;
  }
}

.content-title-small{
  font-size:2em;
}

.content-subtitle{
  font-size:1.5em;
  margin-bottom:24px;
}

.focus-content{
  padding:75px 0;
  
  p{
    font-size:1.3em;
    line-height:1.8;
    margin-bottom:42px;
  }
  
  @include media("only screen and (max-width: 767px)"){
    padding-left:5%;
    padding-right:5%;
  }
}

.focus-works{
  margin-left:-4px;
  
  figure{
    width:382px;
    height:300px;
    margin:0 0 4px 4px;
    
    img{
      width:100%;
      height:auto;
    }
  }
  
  @include media("only screen and (max-width: 767px)"){
    figure{
      width:100%;
      height:auto;
    }
  }
}

.focus-blog{
  margin-bottom:82px;
}

.team-item{
  width:215px;
  height:420px;
  margin-left:5px;
  padding:0 15px;
  
  &:first-child{margin-left:9px;}
  
  p{
    font-size:1em;
    margin-bottom:0;
  }
}

.team-item-image{
  margin:0 0 15px -15px;
}

.blog-item-content{
  width:300px;
  padding:40px;
  text-align:left;
  
  p{
    line-height:1.5;
    color:$title-light-grey;
  }
}

.contact-item{
  width:50%;
  padding-top:47px;
  
  dd{
    font-size:1.3em;
    color:$title-light-grey;
    margin:25px 0 85px 0;
  }
}

.about-content{
  padding:5%;
  color:$title-light-grey;
}

.about-item{
  width:48%;
  padding:0 1%;
  
  ul{
    font-size:1.3em;
    padding-left:10%;
  }
  
  li{
    line-height:1.8;
    list-style:none;
    
    &:before{
      content:'-';
      display:inline-block;
      margin-right:9px;
    }
  }
}

.contact-content{
  margin-left:-6px;
}

.contact-block{
  width:246px;
  height:225px;
  margin-left:6px;
  padding:75px 27px 0 27px;
  position:relative;
}

.with-sign{
  &:before{
    content:'';
    display:block;
    width:30px;
    height:3px;
    background:#fff;
    position:absolute;
    top:30px;
    left:27px;
  }
}

.contact-block-text{
  p{
    font-size:1.8em;
    font-weight:400;
    line-height:1.3;
  }
}

.contact-block-large{
  width:462px;
  height:300px;
  padding:0;
}

.contact-form{
  padding:30px 0 0 50px;
}

.main-content{
  width:666px;
}