//Forms

::-webkit-input-placeholder{color:$dark; font-family:$sans;} /* WebKit browsers */
:-moz-placeholder{color:$dark; font-family:$sans;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder{color:$dark; font-family:$sans;} /* Mozilla Firefox 19+ */
:-ms-input-placeholder{color:$dark; font-family:$sans;} /* Internet Explorer 10+ */

label{
  display:block;
  margin-bottom:6px;
}

input,
textarea{
  box-sizing:border-box;
  width:100%;
  height:28px;
  border:1px solid $dark;
}

textarea{
  height:78px;
  resize:none;
}

button{
  display:inline-block;
  min-width:145px;
  height:28px;
  text-align:center;
  font-weight:700;
  font-size:1.1em;
  border:none;
  background:$dark;
  color:#fff;
  cursor:pointer;
  transition:color .4s, background .6s;
  
  &:hover{
    background:#fff;
    color:$dark;
  }
}

button[type="submit"]{
  background:$gold;
  color:$dark;
  
  &:hover{
    background:$dark;
    color:$gold;
  }
}

.form-fieldset{
  margin-bottom:15px;
}

.form-item{
  width:145px;
  float:left;
  margin-right:45px;
}

.form-item-textarea{
  width:335px;
  margin:0;
}