//Header

.main-header{
  position:relative;
}

.main-logo{
  position:absolute;
  top:15px;
  left:5%;
}

.main-navigation{
  position:absolute;
  top:27px;
  right:5%;
  font-weight:700;
  text-transform:uppercase;
  
  li{
    display:inline-block;
    font-size:1.2em;
    padding-left:20px;
  }
  
  a{
    color:#fff;
    transition:color .4s;
    
    &:hover,
    &:focus,
    &.active{color:$gold;}
  }
}

.header-banner{
  img{
    width:100%;
    height:auto;
  }
}

.header-banner-text{
  position:absolute;
  width:100%;
  text-align:center;
  top:50%;
  left:0;
  color:#fff;
  font-size:6em;
  font-weight:200;
  line-height:1;
  transform:translateY(-50%);
  
  @include media("only screen and (max-width: 767px)"){
    font-size: 2em;
  }
}