//Post

.post-teaser{
  padding:30px;
  background:#fff;
  margin-bottom:55px;
  
  p{
    font:1.2em/1.3 $serif;
    color:$dark;
    margin-bottom:60px;
  }
}

.post-teaser-title{
  font-weight:200;
  font-size:2em;
  margin:30px 0;
  color:#000;
}

.post{
  font-family:$serif;
  
  strong{font-weight:700;}
  
  p{
    font-size:1.5em;
    line-height:1.5;
    margin-bottom:18px;
  }
}

.post-date{
  color:$gold;
  font-size:1.1em;
  display:inline-block;
  margin-bottom:24px;
}

.post-gallery{
  margin-top:80px;
}

.post-gallery-item{
  margin-bottom:18px;
}