//Sidebar

.main-sidebar{
  width:297px;
}

.sidebar-block-title{
  font-size:1.5em;
  font-weight:200;
  padding:9px 0;
  border-bottom:3px solid $gold;
  margin-bottom:30px;
}

.sidebar-block-link-list{
  font-style:italic;
  
  li{
    list-style:none;
    font-size:1.1em;
    line-height:1.5;
  }
  
  a{
    color:$font-color;
  }
}

.sidebar-gallery-item{
  display:block;
  margin-bottom:6px;
}