//VARIABLES

//colors

$font-color:#021725;
$title-color:#616970;
$title-light-grey:#505d68;
$gold:#d4af37;
$dark:#212121;
$grey:#eeeeee;
$light-grey:#f9f9f9;

//fonts

$sans:'OpenSans', Arial, Helvetica, sans-serif;
$serif:'Cardo', "Trebuchet MS", serif;

//size

$content-width:768px;
$content-sidebar-width:(1150px - (62px * 2));

//mixins

@mixin media($queryString){
  @media #{$queryString} {
    @content;
  }
}