@import "reset";
@import "variables";

//GENERIC

body{
  font: 300 85% $sans;
  color: $font-color;
}

h1, h2, h3, h4, h5, h6{
  color:$title-color;
}

iframe{
  display:block;
  
  @include media("only screen and (max-width: 767px)"){
    width:100%;
  }
}

a{text-decoration:none;}

.box-content{
  width: $content-width;
  margin: 0 auto;
  
  @include media("only screen and (max-width: 767px)"){
    width:100%;
  }
}

.box-sidebar-content{
  width: $content-sidebar-width;
  margin:70px auto;
  padding:62px;
}

.left{float:left;}

.right{float:right;}

.clear{clear:both;}

span.clear{
  display:block;
  height:0;
}

@import "buttons";
@import "header";
@import "form";
@import "content";
@import "sidebar";
@import "post";
@import "footer";