@font-face {
  font-family: 'Cardo';
  src: url('Cardo104s.eot'); /* IE9 Compat Modes */
  src: url('Cardo104s.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Cardo104s.woff') format('woff'); /* Modern Browsers */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Cardo';
  src: url('Cardob101.eot'); /* IE9 Compat Modes */
  src: url('Cardob101.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Cardob101.woff') format('woff'); /* Modern Browsers */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Cardo';
  src: url('Cardoi99.eot'); /* IE9 Compat Modes */
  src: url('Cardoi99.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Cardoi99.woff') format('woff'); /* Modern Browsers */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Light.eot'); /* IE9 Compat Modes */
  src: url('OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('OpenSans-Light.woff') format('woff'); /* Modern Browsers */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('OpenSans-LightItalic.woff') format('woff'); /* Modern Browsers */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('OpenSans-Regular.woff') format('woff'); /* Modern Browsers */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Semibold.eot'); /* IE9 Compat Modes */
  src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('OpenSans-Semibold.woff') format('woff'); /* Modern Browsers */
       
  font-style:   normal;
  font-weight:  700;
}

